*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}
.btn{
   background-color:#4CAF4F ;
   border: none;
}
span{
    color: #4CAF4F;
}
.navbar-nav{
    margin-left: 600px;
    margin-top: 2px;
    padding: 0px;
}
.navbar {
    background-color: #FFFFFF;
}
.nav-item a:hover{
    color: #4CAF4F;
}
.btn:hover{
    background-color: #4CAF4F !important;
    color: white !important;
    transform: scale(1.05) !important;
    border-radius: 5px !important;
}
.main{
    background:#F5F7FA;
}
p {
    color: rgba(113, 113, 113, 1);
}
h1{
 color: rgba(77, 77, 77, 1); 
}
.logos{
    gap: 100px;
    
}
.cards{
    width: 60px;
    justify-content: center;
    align-items: center;
}
.achievement{
    background: rgba(245, 247, 250, 1);
    width: 1002.3400268554688;
height: 202.93966674804688;
opacity: 1;
padding:80px;
}
.big-heading{
    background: rgba(245, 247, 250, 1);
}
.info h1{
    color: rgba(38, 50, 56, 1);

}
.footer{
    background-color: rgba(38, 50, 56, 1);
    color: white;
}

.nav-link{
    color: rgba(245, 247, 250, 1);

}
.color{
     color: rgba(245, 247, 250, 1);
}
.icon a {
    color: white;
    padding: 5px;
}
.icon a:hover{
    color: #4CAF4F;
}


